.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.emailSubscription,
.emailSubmit,
input[type="submit"] {
  width: 18rem;
  aspect-ratio: 4.5 / 1;
  border-radius: 10rem;
  border: 4px solid #fff;
  background-color: unset;

  margin: 0.5rem;
}

.emailSubscription::placeholder,
input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font4);
  text-align: center;
  color: #fff;
}

input[type="submit"] {
  font-weight: 700;
}

input[type="submit"]:hover {
  color: #000;
  background-color: #fff;
}

/* --------style #1 ------- */

.subscribeStyle1input {
  border-color: var(--color1) !important;
}

.subscribeStyle1input::placeholder {
  padding-left: 1.75em !important;

  text-align: start !important;
  font-size: var(--font1) !important;
  font-weight: 700 !important;
  color: #0009 !important;
}

.subscribeStyle1 {
  font-size: var(--font1) !important;
  background-color: var(--color1) !important;
  border-color: var(--color1) !important;

  transition: all 500ms ease;
}

.subscribeStyle1:hover {
  background-color: var(--color2) !important;
}
