<nav>
  <div>
    <a href="/"><h1>HOME</h1></a>
    <p>suck it</p>
  </div>
  <ul>
    <li><a href="/register">REGISTER</a></li>
    <li><a href="/">HOME</a></li>
    <li><a href="/">HOME</a></li>
  </ul>
</nav>
