<nav>
  <div>
    <a href="/"><h1>HOME</h1></a>
  </div>
  <ul>
    <li><a href="/register">REGISTER</a></li>
    <li><a href="/upload">UPLOAD</a></li>
    <li><a href="/cartInventory">CART</a></li>
  </ul>
</nav>
