.homePageContainer {
  min-height: 100%;
  display: grid;
  grid-template-rows: 100vw;
  /* grid-template: min(350px) / 100vw; */
}

.homepage__section_1 {
  padding: 4rem 2rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../../assets//img/hero-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.homepage__section_1 h1 {
  margin-bottom: 30px;

  font-size: var(--font7);
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: var(--color1);
  font-weight: 700;
}

.homepage__section_2 {
  background: var(--gradientTwo);
  height: 100px;
}

.homepage__section_3 {
  background: var(--gradientThree);
  height: 100px;
}

.homepage__section_4 {
  background: var(--gradientTwo);
  height: 100px;
}

.homepage__section_5 {
  background: var(--gradientOne);
  height: 100px;
}

.homepage__section_6 {
  background: var(--gradientFour);
  height: 100px;
}

.homepage__section_7 {
  background: var(--gradientTwo);
  height: 100px;
}

.homepage__section_8 {
  background: var(--gradientTwo);
  height: 100px;
}
.homepage__section_9 {
  background: var(--gradientTwo);
  height: 100px;
}

.blur {
  filter: blur(var(--blur)) brightness(110%);
  opacity: 0;
  transition: all 750ms ease-in-out;
}

.darkmode {
  height: 300px;
  aspect-ratio: 1/1;
  background-color: red;
}
