.homePageContainer {
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80vh auto;

  overflow-x: hidden;
}

.homepage__section_1 {
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../../assets//img/hero-mobile.png");
  background-size: cover;
  background-position: 20% 60%;
  background-repeat: no-repeat;
}

.homepage__section_1 h1 {
  margin-bottom: 30px;

  font-size: var(--font7);
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: var(--color1);
  font-weight: 700;
}

.homepage__section_2 {
  background-color: var(--color2);
}

.homepage__section_2 h4 {
  text-align: center;
  color: var(--color1);
  font-size: var(--font4);
  font-weight: 700;
  margin: 0.25em 0 0;
}

.homepage__section_3 {
  background: var(--gradientThree);
}

.homepage__section_4 {
  background: var(--gradientTwo);
}

.homepage__section_5 {
  background: var(--gradientOne);
}

.homepage__section_6 {
  background: var(--gradientFour);
}

.homepage__section_7 {
  background: var(--gradientTwo);
}

.homepage__section_8 {
  background: var(--gradientTwo);
}
.homepage__section_9 {
  background: var(--gradientTwo);
}

.blur {
  filter: blur(var(--blur)) brightness(110%);
  opacity: 0;
  transition: all 750ms ease-in-out;
}

.darkmode {
  height: 300px;
  aspect-ratio: 1/1;
  background-color: red;
}

/* //// */

.stringify {
  font-size: large;
  color: brown;
  background-color: antiquewhite;
}

.carouselContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 35%;
  grid-template-rows: max-content;
  grid-template-rows: 7rem;

  align-items: center;
  justify-content: start;

  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselElement {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;
  max-width: fit-content;

  scroll-snap-align: start;
}

.carouselElement p {
  margin: 0;
  font-size: calc(var(--font2) * 0.85);
  color: var(--color1);
}

.carouselDiv {
  aspect-ratio: 1/1;

  padding: 1.75rem;
  overflow-x: auto;

  border-radius: 50%;
  background-color: rgb(51, 219, 141);

  inline-size: 100%;
}
