/* ######### FONT STACKS ######### */

/* oswald-300 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local("oswald"), url("./assets/fonts") format("woff2"),
    url("./assets/fonts/oswald-v48-latin-300.woff") format("woff");
}
/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("oswald"), url("./assets/fonts/oswald-v48-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/oswald-v48-latin-regular.woff") format("woff");
}
/* oswald-700 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local("oswald"), url("./assets/fonts/oswald-v48-latin-700.woff2") format("woff2"),
    url("./assets/fonts/oswald-v48-latin-700.woff") format("woff");
}

/* ######### BASE CSS ######### */

:root {
  /* COLORS */
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);

  --color1: #3f0791;
  --color2: #dad9ff;
  --color3: #bfefff;
  --color4: #5b00ed;

  --gradient1: linear-gradient(0deg, #0093e9 0%, #f0f8ff 100%);
  --gradient2: linear-gradient(180deg, #d034a2, #5222e3);
  --gradient3: linear-gradient(0deg, #85ffbd 0%, #fffb7d 100%);
  --gradient4: linear-gradient(180deg, #3eecac 0%, #ee74e1 100%);

  --outline: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

  /* SIZES */
  --font0: clamp(0.59rem, calc(0.5rem + 0.99vw), 0.55rem);
  --font1: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --font2: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --font3: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --font4: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --font5: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --font6: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --font7: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --font8: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
  --font9: clamp(4.03rem, calc(3.36rem + 3.36vw), 5.96rem);
  --font10: clamp(4.84rem, calc(3.93rem + 4.54vw), 7.45rem);
  --font11: clamp(5.81rem, calc(4.58rem + 6.1vw), 9.31rem);

  /* WEIGHTS */
  --reg: 300;
  --bold: 700;

  /* SHADOWS */
  --textInset: 2px 3px 4px #fff, 0 0 0 #000;
  --shadow1: 0px 2px 1px -1px #0002, 0px 1px 1px 0px #00000014, 0px 1px 3px 0px #0002;
  --shadow2: 0px 0px 10px #0005;
  --shadow3: 0 0.3125rem 0.625rem #0007;
  --shadow4: 0rem 0px 1rem var(--color6);
  --shadow5: 0.1rem 2px 0.2rem #0009;
  --outline: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

  /* BLUR */
  --blur: 1.25px;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Oswald, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  opacity: 0;
  animation: fadeIn 1750ms ease-in forwards;
}

body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  position: relative;
  background-color: rgba(144, 237, 144, 0.8);
}

abbr {
  text-decoration: none;
}

button {
  outline-color: transparent;
  border: none;
}

ol,
li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover,
[type="submit"]:hover {
  cursor: pointer;
  text-decoration: none;
}

.blur {
  filter: blur(var(--blur)) brightness(110%);
  opacity: 0;
  transition: all 750ms ease-in-out;
}

.stopScroll {
  position: fixed;
  inset: 0 0 0 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
