.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

img[alt="image"] {
  width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.gap {
  height: 900px;
}

.noViewport {
  transform: translateY(200px);
  transition: all 750ms;
  opacity: 0;
}

.visible {
  transform: translatY(0px);
  transition: all 750ms;
  opacity: 1;
}
