<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= locals.title %></title>
  </head>
  <body>
    <main class="loginContainer">
      <div class="loginOutlineBox">
        <h1>Login system</h1>
        <p>log in for existing users</p>

        <form action="">
          <label for="email">
            <input id="email" type="email" placeholder="email" />
            Register email address
          </label>

          <input type="password" placeholder="password" />

          <input type="submit" class="loginSubmitButton" value="SUBMIT" />
        </form>
      </div>
    </main>
  </body>
</html>
