.cta-btn {
  padding: 1em;
  aspect-ratio: 4/1;
  border-radius: 200px;
  box-shadow: var(--shadow1), 0 0 15px rgba(121, 33, 164, 0.5) inset;

  background-color: var(--color1);
  color: var(--white);
  text-shadow: var(--outline);
  font-size: var(--font3);
  font-weight: 700;

  display: flex;
  place-content: center;
  place-items: center;

  user-select: none;
  transition: all 1000ms ease;
}

/* ---style 1--- */
.buttonStyle1 {
  margin: 0.5rem;
  aspect-ratio: 4.5 / 1;

  border-radius: 10rem;
  border: 4px solid #fff;

  text-shadow: none;
  box-shadow: none;
  font-size: var(--font2);
  font-weight: bold;
  background-color: unset;
}

.buttonStyle1:hover {
  color: var(--color1);
  background-color: #fff;
}

.buttonStyle2 {
  width: 80%;
  height: 42.4px;
  max-width: 28.75rem;
  aspect-ratio: 10.85/1;
}
