.cta-btn {
  padding: 1em;
  width: 8rem;
  border-radius: 50px;
  box-shadow: var(--shadow1), 0 0 15px rgba(121, 33, 164, 0.5) inset;

  background-color: var(--color1);
  color: var(--white);
  text-shadow: var(--outline);
  font-size: var(--font2);
  font-weight: 700;

  user-select: none;
}

.cta-btn:hover {
  /* background-color: var(--gradient2); */
  /* animation: btnOpacity 1000ms ease infinite; */
}

@keyframes btnOpacity {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
}
