.shoppingCartContainer {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 201;

  transform: translateY(110vh);
  transition: transform 1000ms ease;
  width: 100vw;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4rem auto 8rem;
  grid-template-areas:
    "a"
    "b"
    "c";

  background-color: var(--white);
}

.cartNav {
  grid-area: a;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  color: var(--color1);
}

.cartNav p {
  font-size: var(--font2);
  letter-spacing: 0.05rem;
  font-weight: 500;
  cursor: pointer;
}

.cartNav h1 {
  font-size: var(--font6);
  cursor: pointer;
}

.cartDisplay {
  grid-area: c;

  margin-top: 10rem;

  font-size: var(--font6);
  text-align: center;
}
.shopNowButton {
  grid-area: c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 0.5rem;
}

.shopNowButton div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.shopNowButton div:nth-child(1) p {
  color: var(--color1);
  font-weight: 700;
}
.shopNowButton button {
  align-self: center;
}

.shoppingCartReveal {
  transform: translateY(0);
}
.cartDisplay {
  grid-area: b;
  transform: translateY(0);
  align-items: end;
}

.cartDisplay p,
.cartDisplay h3 {
  color: var(--color1);
  font-size: 1rem;
}
