<div class="container">
  <h1>Server index page</h1>
  <div class="flex">
    <a href="http://localhost:5150/cereals/upload">UPLOAD</a>
    <a href="http://localhost:5150/cart/upload">CART INVENTORY</a>
  </div>
</div>
