.FooterMobileContainer {
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  background: #000;
}

.FooterMobileContainer h4 {
  text-align: center;
  font-size: var(--font4);
  margin-bottom: 0.5em;
}

.socialsSVGContainer {
  width: 50vw;
  margin-top: 0.5rem;

  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.socialsSVG {
  height: 1.5rem;
  fill: #fff;
  cursor: pointer;
}

.socialsSVG:hover {
  fill: var(--color2);
  filter: saturate(300%);
}

.legalText {
  text-align: center;
  margin: 1.5rem;
}

.copyrightText {
  color: #fff3;
  font-size: var(--font1);
}

.MagicSpoonLogo {
  width: 7rem;
  margin-top: 1rem;
  align-self: center;

  fill: #fff;
}
