.testimonialSliderContainer {
  position: relative;
  height: 15rem;
  min-height: 100%;
  padding: 1rem 2.5rem;

  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color3);
}

.testimonialSlider {
  text-align: center;
}

.testimonialSlider h3 {
  font-size: var(--font6);
}
.testimonialSlider p {
  font-size: var(--font2);
}

.testimonialButtonsLT,
.testimonialButtonsGT {
  position: absolute;
  top: 50%;
  left: 10vw;

  font-size: 4rem;
  user-select: none;
}

.testimonialButtonsGT {
  left: calc(90vw - 1.5rem);
  /* left: calc(90vw - 23.875px); */
}

.testimonialDots {
  display: flex;
  justify-content: space-around;
}

.dotElement {
  width: 1rem;
  aspect-ratio: 1/1;
  margin: 0.25em 0.4em;

  border-radius: 50%;
  background-color: var(--color1);
}

.selected {
  filter: brightness(1.75);
}
