.shoppingCartContainer {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 201;

  transform: translateY(110vh);
  transition: transform 1000ms ease;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-template-areas:
    "a b"
    "c c"
    "d d ";

  background-color: var(--white);
}

.shoppingCartContainer p {
  grid-area: a;

  padding-left: 1rem;
  place-content: center;
  place-items: end;
  cursor: pointer;
}
.shoppingCartContainer h1 {
  grid-area: b;
  margin: 0;

  place-self: end;
  padding: 0 1rem;
}

.cartDisplay {
  grid-area: c;

  margin-top: 10rem;

  font-size: var(--font6);
  text-align: center;
}

.cartDisplay p {
  font-size: var(--font2);
}

.shopNowButton {
  grid-area: d;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.shoppingCartReveal {
  transform: translateY(0);
}

.itemsInCart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content 1fr min-content;
  grid-template-areas:
    "a b"
    "c c"
    "d d ";
}
