.navMobileContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 3.5rem;
  min-height: 0;
  z-index: 200;

  /* display: flex;
  justify-content: space-between;
  flex-grow: 1; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hamburgerSection {
  position: relative;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburgerElement {
  position: absolute;
}

.hamburgerElement,
.hamburgerElement::before,
.hamburgerElement::after {
  content: "";
  height: 2px;
  width: 25px;

  background-color: blueviolet;
  transition: all 750ms ease;
}

.hamburgerElement::before,
.hamburgerElement::after {
  position: absolute;
  transform: translateY(-0.5rem);
}

.hamburgerElement::before {
  transform: translateY(0.5rem);
  background-color: aqua;
}

.menuOpen::before {
  display: none;
}

.menuOpen {
  transform: rotate(135deg);
  animation: hamburgerAnimation 750ms ease-in-out forwards;
}

.menuOpen::after {
  transition: rotate 750ms ease;
  transform: rotate(90deg);
}

.mobileNavMenu {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 2;

  margin: 0 auto;
  padding: 0;

  display: grid;
  place-content: center;
  align-items: center;

  transition: all 1000ms ease;
}

.mobileNavMenu li {
  position: relative;
  padding: 1.2rem 0;

  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1.75rem;
  text-align: center;

  color: transparent;
  font-size: var(--font7);
  -webkit-text-stroke: 1.65px var(--color1);
}

.mobileNavMenu li:last-of-type {
  margin-bottom: 2.5rem;
}

.logoSpinMenu {
  display: inline;
  width: 6rem;
  justify-self: center;

  animation: rotate 4500ms linear infinite;
}

.fixedMenuPosition {
  position: fixed;
  overscroll-behavior: none;
}

.hide {
  animation: navMenu 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.titleLogoLink {
  place-self: center;
}

.cartSignup p {
  padding: 0 1rem;

  text-align: end;
  font-weight: 700;
  cursor: pointer;
}

@keyframes hamburgerAnimation {
  100% {
    transform-origin: center;
  }
}

@keyframes navMenu {
  0% {
    scale: 1;
    z-index: -200;
  }

  100% {
    scale: 0;
    z-index: 200;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
