.nav-mobile__container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 3.5rem;
  z-index: 2;

  display: flex;
  justify-content: space-between;
}

.hamburger-section {
  position: relative;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-element {
  position: absolute;
}

.hamburger-element,
.hamburger-element::before,
.hamburger-element::after {
  content: "";
  height: 2px;
  width: 25px;

  background-color: blueviolet;
  transition: all 750ms ease;
}

.hamburger-element::before,
.hamburger-element::after {
  position: absolute;
  transform: translateY(-0.5rem);
}

.hamburger-element::before {
  transform: translateY(0.5rem);
  background-color: aqua;
}

.menu-open::before {
  display: none;
}

.menu-open {
  /* transform: rotate(125deg); */
  transform: rotate(135deg);
  animation: hamburgerAnimation 750ms ease-in-out forwards;
}

.menu-open::after {
  transition: rotate 750ms ease;
  transform: rotate(90deg);
}

.mobile-nav-menu {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 2;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 1000ms ease;
}

.mobile-nav-menu li {
  position: relative;
  padding: 1.2rem 0;

  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: lightblue;
  text-shadow: var(--outline);
}

.hide {
  animation: navMenu 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.title-logo__link h1 {
  color: lightblue;
  letter-spacing: 0.05em;
  text-shadow: var(--outline);
}

@keyframes hamburgerAnimation {
  100% {
    transform-origin: center;
  }
}

@keyframes navMenu {
  0% {
    scale: 1;
  }

  100% {
    scale: 0;
    padding: 0;
  }
}
